@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.links {
    @include margin-bottom(1);
    &__list {
        display: flex;
        &-item {
            margin: 0 2px;
            & a {
                border: 0;
                & svg {
                    color: lighten($color-base, 30%);
                }
                &:hover,
                &:focus {
                    & svg {
                        color: $color-base;
                    }
                }
            }
        }
    }
}
